@{
    ViewBag.Title = "Home Page";
}

@section scripts{
<script src="~/Scripts/blsTree/data.js"></script>
}

<div class="container" ng-controller="blsTreeController">
    <div class="row">
        <input type="text" ng-model="searchedText" class="form-control" />
        <button ng-click="search(searchedText)" class="form-control">Search</button>
    </div>
    <div class="row">
        <h3>TreeView</h3>
        <div class="jstree jstree-1 jstree-default" role="tree" tabindex="0" aria-activedescendant="565" aria-busy="false">
            <bls-tree ng-model="data" display-fn="displayFn"></bls-tree>
        </div>
    </div>
</div>



