@{
    ViewBag.Title = "Home Page";
}

@section scripts{
    <script src="~/Scripts/blsTree/data.js"></script>
}

<div class="container" ng-controller="blsTreeController">
    <div class="row">
        <input type="text" ng-model="searchedText" class="form-control" />
        <button ng-click="search(searchedText)" class="form-control">Search</button>
    </div>
    <div class="row">
        <h3>TreeView</h3>
        <div class="tree-view">
            <bls-tree ng-model="data"
                      on-select="selectNode"
                      children-property="['children', 'user']"
                      async-load="loadAsync">
                <i class="tree-icon tree-default-icon"></i>
                <span>{{node.text + " - " + node.description}}</span>
            </bls-tree>
        </div>
    </div>
</div>